<div class="d-flex justify-content-center mb-4">
  <%= link_to user_tweet_path(tweet.user, tweet), class: "text-decoration-none text-dark" do %>
    <div class="card" style="width: 25rem;">
      <div class="position-absolute top-0 end-0 m-3">
        <%= like_badge(current_user, tweet) %>
      </div>
      <div class="card-body">
        <strong class="card-text"><%= tweet.user.name %></strong>
        <p class="card-text text-center"><%= tweet.content %></p>
        <% if tweet.image.present? %>
          <%= image_tag tweet.image.url, class: "card-img-top", alt: "画像" %>
        <% end %>
        <p class="crd-text text-secondary text-end">
          <%= tweet.created_at.strftime('%Y年%m月%d日 %H:%M') %>
        </p>
      </div>
    </div>
  <% end %>
</div>
